textarea {
    min-height: 400px;
}

.email {
    border: 1.8px solid black;
    font-size: .9rem;
    padding: 10px 10px;
    padding-left: 25px;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
}
